/* 바디 스크롤 */
.scroll {
    overflow: hidden;
}

/* 버튼 및 모달 */
.page-wrapper {
    display: inline;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.blur-it {
    filter: blur(4px);
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(94, 94, 94, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 2;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 600px;
    height: 560px;
    display: block;
    margin: 50% 0 0 -300px;
    top: 50%; 
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 0.5rem;
    border: 1px solid #858796;
}

.modal-wrapper.open .modal {
    margin-top: -300px;
    opacity: 1;
}

.head { 
    width: 100%;
    height: 50px;
    padding: 12px 30px;
    overflow: hidden;
    background: rgb(210, 197, 165);
    color: white;
}

.btn-close {
    font-size: 22px;
    display: block;
    float: right;
    color: #fff;
}

.content{
    padding: 3%;
    text-align: center;

    
}
.content input{
    margin: 15px;
}

.modal-footer .btn-group button {
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

#negative {
    font-weight: bold;
    color: var(--danger);
}

#positive {
    font-weight: bold;
    color: #051367;
}

.btn-group {
    width: 100%;
}

.btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
}