/* 조회기간 카드 패딩 설정 */
.period-card {
    padding-left: 0;
    padding-right: 0;
}

/* 기간 버튼 선택 */
ol,
ul {
    list-style: none;
    padding-left: 0;
}

.searchDate {
    overflow: hidden;
    margin-bottom: 10px;
}

.searchDate:after {
    display: block;
    clear: both;
    content: '';
}

.searchDate li {
    position: relative;
    float: left;
    margin: 0 7px 0 0;
}

.searchDate li .chkbox {
    display: block;
    text-align: center;
}

.searchDate li .chkbox input {
    position: absolute;
    z-index: -1;
}

.searchDate li .chkbox label {
    display: block;
    width: 70px;
    height: 30px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    background: var(--info);
    border-radius: 0.5rem;
}

.searchDate li .chkbox label:hover {
    color: #fff;
    background-color: #2c9faf;
    border-color: #2a96a5;
}

.searchDate li .chkbox.on label {
    background: #ec6a6a;
}

.input-date {
    position: relative;
}

.input-date i {
    position: absolute;
    left: 160px;
    top: -8px;
    padding: 10px 10px;
    cursor: pointer;
}

.demi {
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle;
}